* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: none;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width:991px) {
    body {
        background-color: rgb(191, 191, 191);
        padding:10px;
        display: block;
    }

   
    

    .info {
        margin-top: 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid black;
        height: 120px;
        transition: all .4s ease;
        box-shadow: 0 10px 15px -10px black;

    }

    .info img {
        width: 100px;
        height: 100px;
        border-radius: 999px;
        transition: all .4s ease;
    }

    .teacher h3 {
        font-size: 25px;
        transition: all .4s ease;
    }

    .intro {
        font-size: 17px;

        transition: all .4s ease;
    }

    .full {
        display: none;
        transition: all .4s ease;
    }


}